
<div class="spacing-md" style="width: 100%;">
    <%= render partial: 'blogs/admin_actions', locals: { blog: blog } %>   
        <div class="blog-post section-padding">    
         
                <div class="container">
                    <h2 class="header-3"><%= link_to blog.title, blog %></h2>
                    <p class="blog-post-meta">Created
                        <%= distance_of_time_in_words(blog.created_at, Time.now)   %> ago</p>       
                        <p id="release-notes"><%= markdown blog.body %></p>


                <div>

                </div>             
                </div>        
           
        </div>
 </div>
