<%= render 'shared/blog_masthead', 
            header: "Release Notes", 
            text: "Documenting the development of this project.",
            icon: "fal fa-book" %>


<div><%= link_to 'New Note', new_blog_path, class: "btn btn-primary mb-4" if logged_in?(:site_admin) %></div>
<div class="row mb-5">
   
   <div class="col-md-9">
    
      <div class="row release-notes">
         <%= render @blogs %>
      </div>

   </div>
   
   <div class="col-md-3">
   <%= render 'shared/blog_sidebar' %>
   </div>
</div> 