<div class="container">
  <div class="col-sm-8 blog-main">
    <h2><%= @blog.title %></h2>
       <%= link_to fa_icon('long-arrow-left'), blogs_path, class: "fa-2x" %>
    
    <%= render 'blog_admin_options' %>
    
  
    <p class="release-notes"><%= markdown @blog.body %></p>
  
  </div>

</div>