 <div class="blog-header">
        <div class="container section-padding">
          <h1 class="blog-title ">Blog Topics</h1>
          <p class="lead blog-description spacing-md">An example blog template built with Bootstrap.</p>
          <%= link_to "View All Blogs", blogs_path, class: "btn btn-primary" %>
        </div>  
 </div>