<!-- can use topic as local variable connected to the @topic on the index render call -->
  <div class="col-md-4 d-flex">
    <div class="card flex-fill p-5 w-100 p-2">
          <h2 class="header-3"><%= link_to topic.title, topic_path(topic) %></h2>
          <%= topic.blogs.count %> resources
    </div>
  </div>
