<%= render 'topics_masthead' %>
<div class="row">
    <div class="col-md-12">   
         <div class="section-padding-sm row">
              <!-- Creates each loop for each topic using _topic.html.erb -->
              <%= render @topics %>
         </div>
        <%  if logged_in?(:site_admin) %>   
          <%= link_to ("<i class='fa fa-rocket'></i> " +'New Topic').html_safe, 
                      new_topic_path, class: 'btn btn-primary'  %> 
        <% end %>             
    </div>
</div>
