<div class="container">

<div class="row">
            <% @jobs.each do |job| %>
           <%= react_component("Job", { company: job.company, 
                                        job_title: job.job_title, 
                                        body: truncate(job.body, length: 100),
                                        position: job.position,
                                        date_text: job.date_text
                                         }) %>

                <%  if logged_in?(:site_admin) %>
                    <div >
                        <%= link_to "Edit Item", edit_job_path(job), class: 'btn btn-warning' %>
                    </div>
                <%  end  %>
            <% end %>

</div>    
</div>