<div class="container section-padding">
  <%= react_component("PageBanner", {
    title: "Work Experience",
    text: "I have developed a diverse range of skills from working at many early to mid-stage startups. I always try to push my boundaries and learn new skills in design, development, devops, marketing and management.",
    icon: "fas fa-briefcase"
  }) %>    
   <% if logged_in?(:site_admin) %>
    <%= link_to 'New Job', new_job_path, class: "btn btn-outline-secondary" %>
   <% end %>            
        <div class="row">
            <% @jobs.each do |job| %>
                <div class="col-md-12 d-flex">
                    <div class="card mt-4" style="width: 100%;">
                        <div class="card-body flex-fill">
                                <%= react_component("Job", { 
                                            company: job.company,
                                            website: job.website,
                                            title: job.job_title,
                                            start_date: job.start_date,
                                            end_date: job.end_date,
                                            currently_active: job.current,
                                            body: truncate(job.body, length: 200),
                                            job_skills: job.skills,
                                            path: job_path(job),
                                                }) %>
                        </div>
                        <% if logged_in?(:site_admin) %>
                            <div class="card-footer">     
                                <div>
                                    <%= link_to "Edit Item", edit_job_path(job), class: 'btn btn-outline-warning' %>
                                </div>
                            </div>
                            <% end %>
                    </div>
                </div>
            <% end %>
        </div>  

</div>