<div class="col-md-4 d-flex"> 
  <a href="<%= path %>" class="card mb-3 p-4 flex-fill" style="width: 100%; display: inline-block">
    <div class="card-body text-center">   
      <i class="<%= icon %> fa-2x mb-3"></i><h5 class="card-title header-4"><%= header %></h5>
    </div>
  </a>
</div>