<div class="card-main home-card <%= item %>"> 
  <a href="<%= path %>" class="mb-3 p-4 ">
    <div class="card-body text-center">  
      <i class="<%= icon %> fa-2x mb-3"></i><h5 class="card-title header-4"><%= header %></h5>
    </div>
  </a>
</div>