
<div class="col-md-4 d-flex"> 
  <a href="<%= path %>" class="card mb-3 flex-fill" style="width: 100%; display: inline-block">
    <div class="card-body text-center">   
      <h5 class="card-title header-4"><%= header %></h5>
    </div>
  </a>
</div>