<div class="container section-padding">
    <%= render 'pages/section_header', 
                    header: "Skills", 
                    text: "Working in a diverse range of roles I have developed development, design, marketing, business strategy and management skills",
                    icon: "far fa-ballot" %>
  <%= render 'pages/skills' %>
</div>