<div class="container section-padding">
    <%= render 'pages/section_header', 
                    header: "Skills", 
                    text: " I have developed strong coding, design, marketing, and management skills by working in a diverse range of roles and always focusing on learning new skills.",
                    icon: "far fa-ballot" %>
  <%= render 'pages/skills' %>
</div>