 <div class="blog-sidebar">   
         <%= source_helper("alert alert-info blog-sidebar-source") %> 
      
          <div class="sidebar-module">
            <h4>Topics</h4>
            <% if @side_bar_topics %>
                <% @side_bar_topics.each do |topic|  %>
                    <p><%= link_to topic.title, topic_path(topic) %></p>
                <% end %>
            <% end %>
          </div>
        
          <div class="sidebar-module">
            <h4>Social media</h4>
            <ol class="list-unstyled social-links">
              <li><a href="github.com"><%= fa_icon "github", text: "my github" %></a></li>
              <li><%= fa_icon "twitter", text: "my twitter" %></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->