 <div class="blog-masthead-container">
    <div class="container section-padding">
<div class="d-flex align-items-center">
        <i class="<%= icon %> xl-icon off-white-icon"></i> 
        <h1 class="blog-banner-header-1"><%= header %></h1>
</div>
      <p class="lead blog-banner-description spacing-md"><%= text %></p>
    </div>     
  </div>