 <div class="footer">
   <div class="footer-container">
     <h5>Project built with</h5>
     <div class="d-flex justify-content-center">
       <div class="tech-container pr-4">
         <span class="stack-header footer-spacing front-end">Frontend</span>
         <span><i class="fab fa-react footer-icon fa-2x"></i></span>
       </div>
       <div class="tech-container pl-4">
         <span class="stack-header">Backend</span>
         <span>
          <%= image_tag 'rails-icon2.png', class: "footer-icon-img" %></span>
       </div>
     </div>
   </div>
   <div class="copyright-generator">
     <div><%= copyright_generator %></div>
     <div><a href="#">Back to top</a></div>
   </div>
 </div>