 <footer class="footer">
       <p>
          Project built with
          <span>front end</span>  
        <i class="fab fa-js-square"></i> 
        <i class="fab fa-react"></i>
          <span>Backend</span>
      </p> 

      <p><%= copyright_generator %></p>
      <p><a href="#">Back to top</a></p>
</footer>