 <footer class="footer">
       <div class="footer-container">
          <h5>Project built with</h5>
            <div class="tech-container">
                  <span class="stack-header footer-spacing">Front-End</span>  
                  <span><i class="fab fa-js-square footer-icon fa-2x"></i><i class="fab fa-react footer-icon fa-2x"></i><i class="fab fa-sass footer-icon fa-2x"></i></span>
            </div>
          
            <div class="tech-container">
                  <span class="stack-header">Back-End</span>
                  <span> <%= image_tag 'ruby-grey-icon.png', class: "footer-icon-img" %><%= image_tag 'rails-icon2.png', class: "footer-icon-img" %></span>
            </div>
      </div> 

<div class="copyright-generator">
            <div><%= copyright_generator %></div>
            <div><a href="#">Back to top</a></div>
</div>
</footer>