 <div class="footer">
   <div class="footer-container">
     <h5>Project built with</h5>
     <div class="d-flex justify-content-center">
       <div class="tech-container pr-4">
         <i class="fab fa-react footer-icon fa-2x"></i>
        <%= image_tag 'rails-icon2.png', class: "footer-icon-img" %>
       </div>
     </div>
   </div>
   <div class="copyright-generator">
     <div><%= copyright_generator %></div>
     <div><a href="#">Back to top</a></div>
   </div>
 </div>