<div class="jumbotron page-banner banner-fonts">
    <div class="container-main padding-xs page-banner-size banner-center">
        <h1 class="hero-text"><%= title %></h1>
        <h2 class="sub-hero-text"><%= subtitle %></h2>
    </div>
</div>
