<div class="jumbotron page-banner banner-fonts">
    <div class="container-main padding-xs page-banner-size banner-center">
        <h1 class="page-banner-header"><%= title %></h1>
        <h2 class="page-banner-sub-header"><%= subtitle %></h2>
    </div>
</div>
