<div class="container">
  <div class="row">
        <h2>Education</h2>
        <%= render 'school', name: "Trent University"  %>
        <%= render 'school', name: "Brain Station"  %>
        <%= render 'school', name: "George Brown"  %>
  </div> 
</div>