<div class="container">
  <div class="row">
        <%= render 'school', name: "Trent University", degree: "Bachelor of Business", img: "http://featuredheights.com/wp-content/uploads/2018/10/larger-trent.jpg"  %>
        <%= render 'school', name: "Brain Station", degree: "Javascript", img: "http://featuredheights.com/wp-content/uploads/2018/10/Brainstation.jpg"  %>
        <%= render 'school', name: "George Brown", degree: "Post Graduate: Advanced Digital Design", img: "http://featuredheights.com/wp-content/uploads/2018/10/GB.jpg"  %>
  </div> 
</div>