<div class="container section-padding">
  <div class="row cards-row mb-5">
    <%= render 'pages/cards/home_card',
        header: "Skills",
        path: skills_path %>
    <%= render 'pages/cards/home_card',
        header: "Work Experience",
        path: about_me_path   %>
    <%= render 'pages/cards/home_card',
        header: "Portfolio",
        path: portfolios_path %>
  </div>
</div>

