<div class="container section-padding">
  <div class="row">
      <%= render 'pages/cards/home_card', header: "Skills", subheader: "Stuff", description: "stuff and stuff and stuff and stuff" %>
      <%= render 'pages/cards/home_card', header: "Work Experience", subheader: "Stuff", description: "stuff and stuff and stuff and stuff" %>
      <%= render 'pages/cards/home_card', header: "Portfolio", subheader: "Stuff", description: "stuff and stuff and stuff and stuff" %>
      <%= render 'pages/cards/home_card', header: "Blog", subheader: "Stuff", description: "stuff and stuff and stuff and stuff" %>
  </div>
</div>

