<div class="home-banner">
  <div class="inner cover banner-inner-container container">
  <h1 class="cover-heading  nun-black-hero">Andrew Woods</h1>
  <p class="lead"><span class="banner-type-product">Product</span> <span class="element"></span></p>
               <%= link_to "Resources", blogs_path, class: "btn btn-lg btn-primary"  %>
               <a href="<%= about_me_path %>" class="btn btn-lg btn-primary">About Me</a>
             </p>
  </div>
</div>
