<div class="home-banner">
  <div class="inner cover banner-inner-container container">
  <h1 class="cover-heading nun-black-hero spacing-md">Andrew Woods</h1>
  <p class="lead spacing-md"><span class="banner-type-product">Product</span> <span class="element"></span></p>
               <%= link_to "Portfolio", portfolios_path, class: "btn btn-lg btn-primary"  %>
               <a href="<%= about_me_path %>" class="btn btn-lg btn-hollow">Experience</a>
             </p>
  </div>
</div>
