<div class="home-banner">
  <div class="inner cover banner-inner-container container text-center">
  <h1 class="hero-text spacing-md">Andrew Woods</h1>
  <p class="sub-hero-text"><span class="banner-type-product">Product</span> <span class="element"></span></p>
  <p></p>
</p>
  </div>
</div>

