<div class="container mt-5">
  <div class="home-card-container">

    <%= render 'pages/cards/home_card',
        header: "Projects",
        path: portfolios_path,
        icon: "far fa-code",
        item: "home-card-item-1" %>  
    <%= render 'pages/cards/home_card',
        header: "Skills",
        path: skills_path,
        icon: "far fa-ballot",
        item: "home-card-item-2" %>
    <%= render 'pages/cards/home_card',
        header: "Work Experience",
        path: jobs_path,
        icon: "far fa-briefcase",
        item: "home-card-item-3"   %>

  </div>
</div>
