<div class="container section-padding">
  <div class="row cards-row mb-5">
    <%= render 'pages/cards/home_card',
        header: "Skills",
        path: skills_path,
        icon: "far fa-ballot" %>
    <%= render 'pages/cards/home_card',
        header: "Work Experience",
        path: work_path,
        icon: "far fa-briefcase"   %>
    <%= render 'pages/cards/home_card',
        header: "Portfolio",
        path: portfolios_path,
        icon: "far fa-code" %>
  </div>
</div>

