<div class="home-banner">
  <div class="banner-inner-container grid-container container">
  <div>
    <h1 class="x-large-52 grey-200">Andrew Woods</h1>
  </div>
 <div>
    <p class="large-30 grey-200"><span class="large-30 xx-bold">Product</span> <span class="large-30 element"></span></p>
    <p class="grey-200">From <%= image_tag 'cn-tower.png', class: "location-icon" %> <%= image_tag 'maple-leaf.png', class: "location-icon" %></p>
 </div>

  </div>
</div>
