<div class="container section-padding">
  <div class="row cards-row mb-5">
    <%= render 'pages/cards/home_card',
        header: "Projects",
        path: portfolios_path,
        icon: "far fa-code",
        col: "col-md-12" %>  
    <%= render 'pages/cards/home_card',
        header: "Skills",
        path: skills_path,
        icon: "far fa-ballot",
        col: "col-md-6" %>
    <%= render 'pages/cards/home_card',
        header: "Work Experience",
        path: work_path,
        icon: "far fa-briefcase",
        col: "col-md-6"   %>

  </div>
</div>

