<div class="home-banner">
  <div class="text-center inner cover banner-inner-container container ">
  <div>
    <h1 class="hero-text spacing-md">Andrew Woods</h1>
    <p>From <%= image_tag 'cn-tower.png', class: "location-icon" %> <%= image_tag 'maple-leaf.png', class: "location-icon" %></p>
  </div>
 <div>
    <p class="sub-hero-text"><span class="large-30 xx-bold">Product</span> <span class="large-30 element"></span></p>
 </div>
</p>
  </div>
</div>
