        <% @jobs.each do |job| %>
            <div class="col-md-12 d-flex">
                <div class="card" style="width: 100%;">
                    <div class="card-body flex-fill">
                            <%= react_component("Job", { 
                                      company: job.company,
                                      title: job.job_title,
                                      position: job.position,
                                      date_text: job.date_text,
                                      body: truncate(job.body, length: 200),
                                      job_skills: job.skills,
                                            }) %>
                    </div>
                    <% if logged_in?(:site_admin) %>
                        <div class="card-footer">     
                            <div>
                                <%= link_to "Edit Item", edit_job_path(job), class: 'btn btn-warning' %>
                            </div>
                        </div>
                     <% end %>
                </div>
            </div>
        <% end %>

             