<div class="col-md-4 d-flex">
    <div class="card" style="width: 100%;">
     <img class="card-img-top" src="<%= img %>" alt="Card image cap">
        <div class="card-body flex-fill">

        <h3 class="card-title"><%= name %></h3>
        <h5 class="card-subtitle text-muted"><%= degree %></h5>
    

        </div>
    </div>
</div>