<div class="section-header-row">

  <div class="header-container">
    <i class="<%= icon %> xl-icon"></i>
    <h2 class="section-header"><%= header %></h2>
  </div>

   <p class="section-header-text"><%= text %></p>
  
</div>