<div class="section-header-row section-padding-md">
  <div class="header-container">
    <i class="<%= icon %> xl-icon grey-800"></i>
    <h2 class="hero-text"><%= header %></h2>
  </div>
   <p class="text-justify section-header-text grey-md-text max-width-para-5"><%= text %></p>
</div>