
<div class=" row spacing-lg">
  <div class="col-md-6">
    <h2 class="nun-black-h1 text-center spacing-sm">Management</h2>
    <%= render 'pages/skill_area',  object: @management_skills  %>
  </div>

  <div class="col-md-6">
    <h2 class="nun-black-h1 text-center spacing-sm">Marketing</h2>
     <%= render 'pages/skill_area',  object: @marketing_skills  %>
  </div>
</div>

<div class=" row spacing-lg">
  <div class="col-md-6">
  
    <h2 class="nun-black-h1 text-center spacing-sm">Design</h2>
      <%= render 'pages/skill_area',  object: @design_skills  %>

  </div>

  <div class="col-md-6">
  
    <h2 class="nun-black-h1 text-center spacing-sm">Developer</h2>
      <%= render 'pages/skill_area',  object: @development_skills  %>
  </div>
</div>
