<%= render 'shared/page_header', 
            title: "About me", 
            subtitle: "Product Designer, Developer & Manager" %>


<div class="container">
  <h2 class="spacing-sm">Skills</h2>
  
    
    <%= render 'skills' %>
  
  <div class="row spacing-lg">  
    <h2 class="spacing-sm">Work Experience</h2>     
    <%= render 'jobs' %>
  </div>

  <div class="row spacing-lg">
    <h2 class="spacing-sm">Education</h2>        
    <%= render 'education' %>
  </div>

</div>