<div class="app-card-container">
<div class="card">
  <h1>About me</h1>
  <div class="row">
    <div class="col-md-4">
      
      <%=  image_tag "andrew.png", width: 300, alt: "profile image", class: 'profile-img' %>
    </div>
    <div class="col-md-8">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non facilisis orci, et porttitor ex. Mauris dapibus mauris nulla, eu imperdiet nibh suscipit at. In hac habitasse platea dictumst. Aenean aliquet elit tellus, nec pharetra ipsum efficitur ut. Vestibulum eu lobortis ante. Suspendisse in malesuada nisl, ac commodo erat. Quisque in sem quam. Sed at iaculis sem. Suspendisse aliquet arcu vitae lorem faucibus pretium. Duis luctus sed lacus eu lacinia. Integer fermentum tortor dictum risus ullamcorper, tristique elementum risus varius. Nunc efficitur risus et augue scelerisque varius. Fusce vulputate efficitur tellus a hendrerit.</p>
      
    </div>
  </div>
</div>
</div>