
<div class="app-card-container">
<div class="card">
<h1>contact</h1>
<div class="row">
  <div class="col-md-6">
    <p><%= number_to_phone "5555555555" %></p>
    <h3>adress</h3>
    <h3>email</h3>
  </div>
  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2886.970223052565!2d-79.37970638447091!3d43.64878786073389!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d4cb3281510d67%3A0x8eae405da64cf00d!2s67+Yonge+St%2C+Toronto%2C+ON+M5E!5e0!3m2!1sen!2sca!4v1510853353885" width="300" height="300" frameborder="0" style="border:0"></iframe>
  </div>
</div>
</div>
</div>