
<div class="container">
<div class='row'>
<div class="col-md-8 mx-auto d-flex">
    <div class="card" style="width: 100%;">
    <div class="card-body flex-fill">
        <h3>Toronto</h3>
        <h3>email</h3>
      </div>
    </div>
</div>
</div>
</div>
<script>
  analytics.track('view_contact_page');
</script>