<% provide(:use_custom_container, true) %>
<div class="container m-top-xxl">
  <%= render 'shared/home_nav' %>
  <%= react_component("Home", {
     portfolios_path: portfolios_path,
     skills_path: skills_path,
     jobs_path: jobs_path,
  }) %>
</div>
<script>
  analytics.page('Home Page Visit');
</script>



