<%= render 'home_banner' %>
<%= render 'home_cards' %>
<div class="container">
 <div class="section-padding">
    <h2 class="spacing-lg">Code Snippets</h2>
    <%= render 'recent_snippets' %>
 </div>
</div>



