  <%= render 'home_banner' %>
    <div class="section-header-row">
      <div class="text-justify section-header-text grey-md-text max-width-para-4">
          <p>I am a technical Product Manager who fell in love with coding 6 years ago. I come from a background in Business Development and Marketing. 
            </p><p>My favorite languages are Ruby, JavaScript and CSS. 
            </p><p>I'm passionate about building & designing software products with Ruby on Rails and React.</p>
      </div>
    </div>
  <%= render 'home_cards' %>







