
 <div class="inner cover">
            <h1 class="cover-heading m-5">Cover your page.</h1>
            <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
            <p class="lead">
              <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
            </p>
          </div>



<h1>Hi <%= current_user.first_name if current_user  %></h1>

<h2>Blog Posts</h2>
<%= @post.inspect %>
<h2>Skills</h2>
<%= @skill.inspect %>
<p>
  <%=  current_user.class %></p>

  <div class="mastfoot">
            <div class="inner">
              <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>
          </div>


