<div class="container mt-5">
	  <div class="row">
    <div class="col-md-4 d-flex">
      <h3>Jobs</h3>
      <% if @jobs.any? %>
        <% @jobs.each do |job| %>
          <div class="card"  style="width: 100%;">
            <div class="card-body flex-fill">
              <p><%= link_to job.job_title, job %></p>
            </div>
          </div>
        <% end %>
      <% else %>
        <p>there are no jobs matching your search term, please try another term</p>
      <% end %>
    </div>
  
    <div class="col-md-4 d-flex">
  
      <h3>Portfolios</h3>
      <% if @portfolios.any? %>
        <% @portfolios.each do |portfolio| %>
          <div class="card"  style="width: 100%;">
            <div class="card-body flex-fill">         
                <p><%= link_to portfolio.title, portfolio %></p>
            </div>
          </div>        
        <% end %>
      <% else %>
        <p>there are no projects matching your search term, please try another term</p>
      <% end %>
    </div>
  
  
      <div class="col-md-4 d-flex">
        <h3>Skills</h3>
          <% if @skills.any? %>
            <% @skills.each do |skill| %>
              <div class="card"  style="width: 100%;">
                <div class="card-body flex-fill">          
                  <p><%= link_to skill.title, skill %></p>
                </div>
              </div>            
            <% end %>
      <% else %>
      <p>there are no skills matching your search term, please try another term</p>
      <% end %>
    </div>

  </div>
</div>