<div class="container">
    <%= render 'section_header', header: "Work Experience", 
                                 text: "Over the years of working at early-stage startups and running my own freelance web dev shop, I have developed skills in all areas of product development including design, UI/UX, deployment, testing, project management, and the actual writing of the code. I have the insights and experience to work with all stakeholders and contributors on the project and to fill in any gaps on the team required.",
                                 icon: "fas fa-briefcase" %>
    <%= render 'jobs' %>
  <%= render 'section_header', header: "Education", 
                               text: "I did my undergrad in business (B.B.A), then a post-grad in Advanced Design and Project Management, followed by a coding Bootcamp.",
                               icon: "fas fa-graduation-cap" %>     
    <%= render 'education' %>    

</div>