<div class="container">
    <%= render 'section_header', header: "Work Experience", 
                                 text: "I've developed a diverse range of skills from working at early to mid-stage startups and running my own freelance business. I enjoy wearing many hats and I always try to push my boundaries to learn new skills in design, code, devops, marketing and management.",
                                 icon: "fas fa-briefcase" %>
    <%= render 'jobs' %>
  <%= render 'section_header', header: "Education", 
                               text: "I did my undergrad in business (B.B.A), then a post-grad in Advanced Design and Project Management, followed by a coding Bootcamp.",
                               icon: "fas fa-graduation-cap" %>     
    <%= render 'education' %>    

</div>