<div class="container">
    <%= render 'section_header', header: "Work Experience", 
                                 text: "I have worked at 4 tech startups over the last 7 years while also running my own web development freelance business that services clients all around the world.",
                                 icon: "fas fa-briefcase" %>
    <%= render 'jobs' %>
  <%= render 'section_header', header: "Education", 
                               text: "I did my undergrad in business (B.B.A), then a post-grad in Advanced Design and Project Management, followed by a coding Bootcamp.",
                               icon: "fas fa-graduation-cap" %>     
    <%= render 'education' %>    

</div>