// 3 Keys to Fonts
// font size
// font color
// font weight
// font-family
@import "design_system/colors.scss";

.no-decor {
  text-decoration: none !important;
}

//  letter spacing

.tight {
  letter-spacing: -0.05em;
}

.wide {
  letter-spacing: 0.05em;
}

// line-heights
  //  Line-height and font size are inversely proportional — 
     //  use a taller line-height for small text and a shorter line-height for large text.

.xs-l-h {
  line-height: 1;
}

.sm-l-h {
  line-height: 1.25;
}

.med-l-h {
  line-height: 1.5;
}

.lg-l-h {
  line-height: 1.75;
}

.xl-l-h {
  line-height: 2.0;
}
//  Heading Spacing

.heading-spacing-m {
  margin-bottom: .25rem;
}

// WEIGHTS
.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.bold {
  font-weight: 600;
}

.x-bold {
  font-weight: 700;
}

.xx-bold {
  font-weight: 800;
}

// Size

.xs-8 {
  font-size: 8px;
}

.small-12 {
  font-size: 12px;
}

.small-14 {
  font-size: 14px;
}

.medium-16 {
  font-size: 16px;
}

.medium-18 {
  font-size: 18px;
}

.medium-20 {
  font-size: 20px;
}

.large-24 {
  font-size: 24px;
}

.large-30 {
  font-size: 30px;
}

.large-36 {
  font-size: 36px;
}

.large-42 {
  font-size: 42px;
}

.x-large-48 {
  font-size: 48px;
}

.x-large-52 {
  font-size: 52px;
}

.x-large-60 {
  font-size: 60px;
}

.xx-large-72 {
  font-size: 72px;
}

.extra-lg-font {
  @extend .xx-large-72;
}


.hero-text {
  @extend .light;
  @extend .x-large-60;
}

.sub-hero-text {
  color: $grey1-700;
  @extend .large-30;
  @extend .light;
}

.header-1 {
  @extend .regular;
  @extend .large-42;

}

.header-2 {  
  @extend .x-bold;
  @extend .large-30;

}

.header-3 {
  @extend .light;
  @extend .large-30;

}

.header-4{
  @extend .bold;
  @extend .large-30;
  @extend .sm-l-h;
}

.header-5 {
  @extend .light;
  @extend .large-24;
  @extend .sm-l-h;
  @extend .med-l-h;
}

.header-6 {
  @extend .regular;
  @extend .medium-20;
  @extend .med-l-h;
}

.header-7 {
  
  @extend .x-bold;
  @extend .medium-18;
  @extend .no-decor;

}

.section-header-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 19px;
  line-height: 26px;
  color: $tilda-black;
  max-width: 560px;
  text-align: center;
}

// Font colors

.grey-md-text {
  color: $grey1-700;
}

.grey-light-text {
  color: $grey1-600
}

.blue-700 {
  color: $blue-700;
}

.black-font {
  color: $tilda-black;
}


// Paragraph Widths

.max-width-para-1 {
  max-width: 20em;
}

.max-width-para-2 {
  max-width: 25em;
}

.max-width-para-3 {
  max-width: 30em;
}

.max-width-para-4 {
  max-width: 35em;
}


