@import "design_system/colors.scss";

.xxs-icon {
  font-size: 8px;
}

.xs-icon {
  font-size: 12px;
}

.sm-icon {
  font-size: 16px;
}

.md-icon {
  font-size: 24px;
}

.lg-icon {
  font-size: 32px;
}

.xl-icon {
  font-size: 35px;
  margin: 10px;
}



.location-icon {
  width: 30px;
}

.off-white-icon {
  color: $grey1-100
}