.home-banner {
  background-color: $blue-900;
  // -moz-box-shadow : 1px 1px 5px 2px #ccc;
  // -webkit-box-shadow: 1px 1px 5px 2px #ccc;
  // box-shadow : 1px 1px 5px 2px #ccc;
  color: $grey-200;
}

.banner-inner-container {
  padding-top: 6em;
  padding-bottom: 6em;
  
}

.banner-inner-container {
  padding-top: 6em;
  padding-bottom: 6em;
  
}

.page-banner {
  background-color: #F9F9FA;
  -moz-box-shadow: 1px 1px 5px 2px #ccc;
  -webkit-box-shadow: 1px 1px 5px 2px #ccc;
  box-shadow: 1px 1px 5px 2px #ccc;
}

.page-container {
  padding-top: 50px;
}

.banner-fonts {
  .page-banner-header {
    font-size: 55px;
  }

  .page-banner-sub-header {
    font-size: 30px;
    font-weight: 300;
  }
}

.banner-center {
  text-align: center;
}

// 

/* Hero */
.defaultHero{
  min-height: calc(100vh - 66px);
  background: url("../images/home_bg.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* End of Hero */
/* Banner */
.banner {
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 2rem 1rem;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 3px;
}
.banner h1 {
  font-size: 2.5rem;
}
.banner div {
  width: 10rem;
  height: 5px;
  background: $blue-900;
  margin: 1.7rem auto;
}
.banner p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 576px) {
  .banner {
    padding: 2rem 3rem;
  }
  .banner h1 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 992px) {
  .banner {
    padding: 2rem 6rem;
  }
  .banner h1 {
    font-size: 4rem;
  }
}
/* End of Banner */