/* Banner */
.banner {
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 2rem 1rem;
  text-align: center;
  letter-spacing: 3px;
}

.banner-header {
  display:flex;
  height: 600px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #12283A;
  color: #E1E7EC;  
}
.banner h1 {
  font-size: 2.5rem;
}
.banner div {
  width: 10rem;
  height: 5px;
  background: $blue-900;
  margin: 1.7rem auto;
}
.banner p {
  font-size: 14px;
}
@media screen and (min-width: 576px) {
  .banner {
    padding: 2rem 3rem;
  }
  .banner h1 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 992px) {
  .banner {
    padding: 2rem 6rem;
  }
  .banner h1 {
    font-size: 4rem;
  }
}
/* End of Banner */