// Button Styles
.btn-primary {
  color: #fff;
  background-color: $royal-blue;
  border-color: $royal-blue;
}

.btn-primary:hover {
  background-color: $lighter-royal-blue;
  border-color: $lighter-royal-blue;
}

.btn-hollow {
  border: 2px solid #000;
  color: #000;
}

.btn-hollow:hover {
  background: #000;
  color: #fff;
}