// blues
$turq: #517c84;
$dull-turg: #849494;
$royal-blue: #0f5379;
$lighter-royal-blue: #1c80b0;
$light-blue: #58c4e2;
$flat-blue: #517c84;


// blacks
$blackish: #1b1b16;
$less-blacker: #383838;

// greys
$whitish-greyish: #ececec;
$light-grey: #9c9c9c;
$dark-grey: #808080;

// whites
$off-white: #fbfbfb;
$less-white: #f9fafa;
$whey: #deddd7;

// yellows
$yellow-one: #eab762;


// purples
$royal-purple: #403d7b;

//greens
$dark-green: #173632;


