// Nunito Black

.nun-black-hero {
  font-family: 'Nunito', sans-serif;
  color: #000;
  font-weight: 800;
  font-size: 52px;

}

.nun-black-h1 {
  font-family: 'Nunito', sans-serif;
  color: #000;
  font-weight: 400;
  margin-bottom: .25rem;
  font-size: 40px;

}

.nun-black-h2 {
  font-family: 'Nunito', sans-serif;
  color: #000;
  font-weight: 700;
  margin-bottom: .25rem;
  font-size: 32px;

}

.nun-black-h3 {
  font-family: 'Nunito', sans-serif;
  color: #000;
  font-weight: 700;
  margin-bottom: .25rem;
  font-size: 25px;

}

.nun-black-h4 {
  font-family: 'Nunito', sans-serif;
  color: #000;
  font-weight: 700;
  margin-bottom: .25rem;
  font-size: 24px;

}

.nun-black-h5 {
  font-family: 'Nunito', sans-serif;
  color: #000;
  font-weight: 400;
  font-size: 20px;

}

.nun-black-body {
  font-family: 'Nunito', sans-serif;
  color: #000;
  font-weight: 400;
  font-size: 18px;
}

.nun-black-para {
  font-family: 'Nunito', sans-serif;
  color: #000;
  font-weight: 400;
  font-size: 16px;
}

.nun-light-italic {
    font-family: 'Nunito', sans-serif;
    color: rgb(87, 87, 87);
    font-weight: 300i;
    font-size: 16px;
}

//  200,300,300i,400,600,700,800,900


// home banner

.banner-type-product {
  font-size: 30px;
  font-weight: 700;
}

.element {
  font-size: 35px;
}