// Nunito Black
$tilda-black: #292929;
.hero-text {
  font-family: 'Open Sans', sans-serif;
  color: $tilda-black;
  font-weight: 800;
  font-size: 62px;

}

.sub-hero-text {
  font-family: 'Open Sans', sans-serif;
  color: $tilda-black;
  font-size: 42px;
}

.nun-black-h1 {
  font-family: 'Nunito', sans-serif;
  color: #000;
  font-weight: 400;
  margin-bottom: .25rem;
  font-size: 40px;

}

.nun-black-h2 {
  font-family: 'Nunito', sans-serif;
  color: #000;
  font-weight: 700;
  margin-bottom: .25rem;
  font-size: 32px;

}

.nun-black-h3 {
  font-family: 'Nunito', sans-serif;
  color: #000;
  font-weight: 700;
  margin-bottom: .25rem;
  font-size: 25px;

}

.header-black-h4 {
  font-family: 'Nunito', sans-serif;
  color: #000;
  font-weight: 700;
  margin-bottom: .25rem;
  font-size: 24px;

}

.header-black-h5 {
  font-family: 'Nunito', sans-serif;
  color: #000;
  font-weight: 400;
  font-size: 20px;

}



//  200,300,300i,400,600,700,800,900


// home banner

.banner-type-product {
  font-size: 30px;
  font-weight: 800;
}

.element {
  font-size: 35px;
}

// New Headers


.skill-card-header {
  font-family: 'Open Sans', sans-serif;
  color: $tilda-black;
  font-weight: 700;
  margin-bottom: .25rem;
  font-size: 14px;
  text-decoration: none !important;

}

.small-font-skills {
  font-family: 'Open Sans', sans-serif;
  color: $tilda-black;
  font-weight: 300;
  margin-bottom: .25rem;
  font-size: 10px;
  text-decoration: none !important;
}

.small-font-skills,
.skill-card-header a {
  text-decoration: none !important;
}
