html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
  padding-bottom: 40px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
  padding: 2.5rem 0;

  color: #999;
  text-align: center;
  border-top: .05rem solid #e5e5e5;  
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-content: center !important;
  background-color: #f5f5f5;
  span {
    margin-bottom: -25px;
  }
}

.footer-icon {
  margin-right: 5px;;
  color: #3f3f3f;
}

.footer-item {
  align-content: flex-start;
}

.footer-icon-img {
  max-width: 30px;
  margin-right: 5px;;
}

.stack-header {
 font-weight: bold;
 font-style: italic;
}

.tech-container {
  display: flex;
  flex-direction: column;
 
}

.copyright-generator {
  padding-top: 40px;
   background-color: #f5f5f5;
}

.front-end {
  padding-bottom: 5px;;
}
