/*Spacing*/

.spacing-xxs {
  margin-bottom: 5px;
}

.spacing-xs {
  margin-bottom: 10px;
}

.spacing-sm {
  margin-bottom: 20px;
}

.spacing-md {
  margin-bottom: 30px;
}

.spacing-lg {
  margin-bottom: 40px;
}

.spacing-xl {
  margin-bottom: 50px;
}

.spacing-xxl {
  margin-bottom: 75px;
}

.section-spacing {
  margin-bottom: 100px;
}

.section-padding {
  padding-top: 50px;
  padding-bottom: 50px;
}

.section-padding-sm {
  padding-top: 20px;
  padding-bottom: 20px;
}


