.navbar {
  background-color: #fff;
}

.nav-link {
  color: #000;
}

.nav-link:hover {
  color: #deddd7;
}

.auth-links {
  a {
    color: #000;
  }
}

.navbar-brand {
  color: $royal-blue;
}

.navbar-brand:hover {
  color: #deddd7;
}

.navbar-toggler-icon {
  color: #F9F9FA !important;
}

.login {
  .card {
    width: 22rem;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
  }
}

.app-nav span {
  margin-left: 15px;
  margin-right: 15px;
}
