@import "bootstrap";
@import "gritter";
@import "pages.scss";
@import "_nav.scss";
@import "_footer.scss";
@import "tech_news.scss";
@import "skills.scss";
@import "jobs.scss";
@import "section_header.scss";
@import "_banner.scss";


// Design System
@import "design_system/colors.scss";
@import "design_system/fonts.scss";
@import "design_system/layout.scss";
@import "design_system/icons.scss";
@import "design_system/pills.scss";
@import "design_system/buttons.scss";
@import "design_system/cards.scss";
@import "design_system/elevation.scss";


/* Custom Style */

.input_checkbox input {
  width: auto !important;
}

body {
  background-color: $tilda-white;
}

.font-row {
   display: flex;
   flex-direction: column;
   padding-left: 50px;
 }

.font-row-display-none {
    display: none;
  }


/*Banner*/

// #banner-background {
//   position: fixed;
//   top: 50%;
//   left: 50%;
//   min-width: 100%;
//   min-height: 500px;
//   width: auto;
//   height: auto;
//   z-index: -100;
//   -webkit-transform: translateX(-50%) translateY(-50%);
//   transform: translateX(-50%) translateY(-50%);
//   /* image-url is a direct line to rails asset pipeline*/
//   background: image-url('home_bg.jpg') no-repeat;
//   background-size: cover;
// }

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: 'Nunito', serif;
}


a {
  text-decoration: none !important;
  color: $blue-800;
}


