
@import "easy-autocomplete";
@import "easy-autocomplete.themes";
@import "bootstrap";
@import "gritter";
@import "_nav";

@import "_footer";
@import "tech_news";
@import "skills";
@import "jobs";
@import "section_header";
@import "_banner";
@import "timeline";


// components


@import "grid";


// Design System
@import "colors";
@import "fonts";
@import "layout";
@import "icons";
@import "pills";
@import "buttons";
@import "cards";
@import "elevation";


/* Custom Style */



.card-main {
 border: 1px solid rgba(0, 0, 0, 0.125);
 border-radius: 8px;
 box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.input_checkbox input {
  width: auto !important;
}

body {
  background-color: $tilda-white;
}

.font-row {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
}

.font-row-display-none {
    display: none;
}


/*Banner*/

// #banner-background {
//   position: fixed;
//   top: 50%;
//   left: 50%;
//   min-width: 100%;
//   min-height: 500px;
//   width: auto;
//   height: auto;
//   z-index: -100;
//   -webkit-transform: translateX(-50%) translateY(-50%);
//   transform: translateX(-50%) translateY(-50%);
//   /* image-url is a direct line to rails asset pipeline*/
//   background: image-url('home_bg.jpg') no-repeat;
//   background-size: cover;
// }

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: 'Nunito', serif;
}


a {
  text-decoration: none !important;
  color: $blue-800;
}


