@import "bootstrap";
@import "gritter";
@import "_colors.scss";
@import "_fonts.scss";
@import "_layout.scss";
@import "pages.scss";
@import "_cards.scss";
@import "_nav.scss";
@import "_footer.scss";
@import "_buttons.scss";


/* Custom Style */

.card-body {
  color: #000;
}


/*Banner*/

// #banner-background {
//   position: fixed;
//   top: 50%;
//   left: 50%;
//   min-width: 100%;
//   min-height: 500px;
//   width: auto;
//   height: auto;
//   z-index: -100;
//   -webkit-transform: translateX(-50%) translateY(-50%);
//   transform: translateX(-50%) translateY(-50%);
//   /* image-url is a direct line to rails asset pipeline*/
//   background: image-url('home_bg.jpg') no-repeat;
//   background-size: cover;
// }



.tech-news {
  color: black;
  margin: 20px;


.card {
  padding: 30px;
}

}

.tech-news a {
  color: green;
}

.app-card-container {
  color: #676767;
  text-align: left;

  .card {
    padding: 40px;

  }
}

.card-block {
  margin-top: 5px;
  margin-bottom: 5px;
}

.skill {
  margin-top: 5px;
  margin-bottom: 5px;
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: 'Nunito', serif;
}



