@import "bootstrap";



/* Custom Style */

.card-body {
  color: #000;
}


.auth-links {
 a {
   color: #000;
 }

}


.login {
  .card {
    width: 22rem;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
  }
}

.app-nav span {
margin-left: 15px;
margin-right: 15px;
}