@import "bootstrap";
@import "font-awesome";
@import "gritter";
@import "_footer.scss";
@import "application.scss";


// Design System
@import "layout.scss";
@import "fonts.scss";


// GLOBAL


body {
  background-color: #222222;
  color: #fff;  
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
}

// Banner

.blog-masthead-container {
  padding-bottom: 1.25rem;
  margin-bottom: 2rem;
  // border-bottom: .05rem solid #eee;
}

.blog-banner-header-1 {
  font-size: 2rem;
  font-weight: 400;
}

.blog-banner-description {
  font-size: 1.1rem;
  color: #999;
}

// FONTS

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: 'Nunito', serif;
}

.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
  font-size: 12px;
}

// NAV

.nav-link {
  position: relative;
  padding: 1rem;
  font-weight: 500;
  color: #cdddeb;
}

.nav-link:hover,
.nav-link:focus {
  color: #fff;
  background-color: transparent;
}

/* Active state gets a caret at the bottom */
.nav-link.active {
  color: #fff;
}
.nav-link.active::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -.3rem;
  vertical-align: middle;
  content: "";
  border-right: .3rem solid transparent;
  border-bottom: .3rem solid;
  border-left: .3rem solid transparent;
}

// SIDE BAR

.sidebar-module {
  padding: 1rem;
}
.sidebar-module-inset {
  padding: 1rem;
  background-color: #f5f5f5;
  border-radius: .25rem;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}

.blog-sidebar-source {
  margin-top: 20px;
}


/*Custom Styles*/

.social-links {
  font-size: 1.5em;
}


// ADMIN options for blog

.blogcrumb {
  font-size: 1.25em;

 a {
  margin-right: 10px;
 }

 .white-icon {
   color: #fff;
 }
}


.blog-nav {
  margin-bottom: 30px;
  background: #222222;

  -webkit-box-shadow: 0 3px 6px -6px #000;
  -moz-box-shadow: 0 3px 6px -6px #000;
  box-shadow: 0 3px 6px -6px #000;
  
}

/* Media Q*/

@media (min-width: 48em) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 40em) {
  .blog-banner-header-1 {
    font-size: 3.5rem;
  }
}





code {
    background: #42ff0d;
    padding: .5rem;
    color: #222222;
    margin: .25rem;
}

#release-notes {
    a {
      text-decoration: none;
      transition: all .2s ease-in;
      line-height: 2;
      border-bottom: 2px solid #ffffff;
      color: #FF0DD1;
      padding: 2px 0;
  }

  a:hover {
      border-bottom: 5px solid #FF0DD1;
      transition: all .2s ease-in;
      border-width: 100%;
  }

}