.card {
 border-radius: 8px;
 box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.card-main {
 border: 1px solid rgba(0, 0, 0, 0.125);
 border-radius: 8px;
 box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.card-block {
  margin-top: 5px;
  margin-bottom: 5px;
}

.card>img {
  margin-bottom: .75rem;
}


.card-block {
  padding-right: 30px;
  padding-left: 30px;
}


a.card {
  transition: 0.5s;
}

a.card:hover {
  text-decoration: none;
  -webkit-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.75);
}


.skill-card {
  padding: 15px 0;
}

.portfolio-show-card {
  padding: 40px;
}

.card-footer {
  background-color: white;
}

.skill-show-card {
  padding: 20px 0 20px 0;
}




