




.page-banner-container {
  padding: 64px 0 64px 0;
  display: grid;
  // height: 40vh;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  align-items: center;
}

.page-banner-item {
  display: grid;
  grid-template-columns:20px 1fr;
  align-items: center;
  grid-gap: 25px;
}



