




.page-banner-container {
  padding: 64px 0 64px 0;
 display: flex;
 flex-direction: column;
}

.page-banner-item {
display: flex;
align-items: center;

}

.test-container {
  display: flex;
  align-items: center;
}

