// 4px
// 8px
// 12px
// 16px
// 24px
// 32px
// 48px
// 64px
// 96px
// 128px
// 192px
// 256px
// 384px
// 512px
// 640px
// 768px

/*Spacing*/

.spacing-xxs {
  margin-bottom: 4px;
}

.spacing-xs {
  margin-bottom: 12px;
}

.spacing-sm {
  margin-bottom: 24px;
}

.spacing-md {
  margin-bottom: 32px;
}

.spacing-lg {
  margin-bottom: 48px;
}

.spacing-xl {
  margin-bottom: 64px;
}

.spacing-xxl {
  margin-bottom: 96px;
}

.section-spacing {
  margin-bottom: 128px;
}

.section-padding {
  padding-top: 48px;
  padding-bottom: 48px;
}

.section-padding-sm {
  padding-top: 24px;
  padding-bottom: 24px;
}

.section-padding-sm-2 {
  padding-top: 32px;
  padding-bottom: 32px;
}



.section-padding-md {
  padding-top: 48px;
  padding-bottom: 48px;
}

.section-padding-lg {
  padding-top: 64px;
  padding-bottom: 64px;
}


 