// CATEGORY ITEM
.category-item {
  display: inline-block;
  margin: 15px 0 4px 0;
  padding-right: 3px;

  a {
    font-size: 10px;
    color: rgba(0, 0, 0, 0.7);
    border: solid 1px rgba(0, 0, 0, 0.4);
    padding: 6px;
    text-decoration: none;
    transition: 0.3s;
  }

  a:hover,
  .selected-item {
    background: $blue-700;
    color: white;
    border: solid 1px $tilda-black;
    text-decoration: none;
  }
}

.category-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 20px
}

.skill {
  margin-top: 5px;
  margin-bottom: 5px;
}
