@import "bootstrap";
@import "font-awesome";
@import "jquery-ui";
@import "gritter";
@import "application.scss";


// Design System
@import "colors.scss";
@import "fonts.scss";
@import "layout.scss";
@import "cards.scss";
@import "grid.scss";

@import "colors.scss";



.ps-item-1 {
  display: grid;
  grid-template-columns: 1fr;
}

.ps-item-2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 20px;
}

.portfolio-show-img {
  justify-self: stretch;
  border: 1px solid rgba(0, 0, 0, 0.125);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.ps-item-3 {
  display: grid;
  grid-template-columns: 1fr;
}
