@import "bootstrap";
@import "font-awesome";
@import "jquery-ui";
@import "gritter";
@import "application.scss";


// Design System
@import "design_system/colors.scss";
@import "design_system/fonts.scss";
@import "design_system/layout.scss";
@import "design_system/cards.scss";

@import "colors.scss";

body {
  min-height: 75rem; /* Can be removed; just added for demo purposes */
}



.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #ececec;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}


// .portfolio-main {
//   width: 200px !important;
// }




