@import "bootstrap";
@import "font-awesome";
@import "jquery-ui";
@import "gritter";
@import "_colors.scss";
@import "application.scss";


body {
  min-height: 75rem; /* Can be removed; just added for demo purposes */
}

.navbar {
  margin-bottom: 0;
  background-color: $royal-blue;
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #ececec;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}



footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}


/* Custom Styles */

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: 'Nunito', serif;
}

// Portfolio Index Cards

.portfolio-card {

  height: 430px;

  .tech-portfolio-card-item {

  }

  .portfolio-card-title {
  font-size: 25px;
  font-weight: 600;
  }

  .portfolio-card-title a {
    text-decoration: none;
    color: #000;
  }

  .portfolio-card-title a:hover {
    color: #676767;
  }

  .portfolio-card-subtitle {
    font-size: 20px;
  }
}

.portfolio-card-image {

}
