@import "design_system/fonts.scss";
@import "design_system/colors.scss";
@import 'design_system/icons.scss';

.skill-icon {
  color: $grey-500;
  margin-right: 1px;
  @extend .xxs-icon;
}

.skill-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
}

.small-font-skills a,
.small-font-skills {
  @extend .light;
  @extend .heading-spacing-m;
  font-size: 12px;
  @extend .no-decor;
}

.small-font-skills a:hover {
  color: $blue-600 !important;
}
