// tech news
.tech-news {
  color: black;
  margin: 20px;
  .card {
    padding: 30px;
  }
}

.tech-news a {
  color: green;
}


.tech-news-card {
  
  width: 100%;
  font-size: 12px;
}

.news-container {
  padding: 0 25px 0 25px;
}